/***** Basic Styles *****/

*{
  box-sizing: border-box;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 175%;
	font-weight: bold;
	text-align: center;
	color: #696969;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
  text-align: center;
	font-size: 125%;
	font-weight: bold;
	color: #FF8C00;
  width: 100px;
  padding: 10px;
  position: relative;
  float: right;
  overflow: hidden;
  margin: 0 10px 0 0;
}

p {
	font-family: Arial, Helvetica, sans-serif;
  text-align: left;
	color: #4B0082;
  margin: 0 10px 20px;
  padding: 15px;
  padding-top: 55px;
}

section {
  float: left;
  display: block;
  position: relative;
}

.intro {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #A9A9A9;
  margin-bottom: 20px;
}

.box1a {
 	border: 1px solid #696969;
 	/** background-color: **/
}

.box1b {
 	border: 1px solid #696969;
 	/** background-color: **/
}

.box1c {
 	border: 1px solid #696969;
 	/** background-color: **/
}

.box2a {
 	border: 1px solid #696969;
  /** background-color: **/
}

.box2b {
 	border: 1px solid #696969;
  /** background-color: **/
}

.box2c {
 	border: 1px solid #696969;
  /** background-color: **/
}

.end {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  text-align: center;
  color: #A9A9A9;
  margin-bottom: 20px;
}

/*****Simple Responsive Framework*****/
.row {
  width: 100%;
}

/***** For Desktops *****/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/***** For Tablets *****/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
    margin-bottom: auto;
  }
  .col-md-12 {
    width: 100%;
  }
  .section3 {
    width: 100%;
  }
}

/***** For Mobile Devices *****/
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }
  .section3 {
  }
}